$color-theme: #45b39d;
$color-theme-alt: #a2d9ce;
$color-theme-highlight: #16A085;
$color-card-bg: #F4F6F6;

$color-warning: #CD6155;
$color-warning-highlight: #7B241C;

$white: #fff;
$white-dark: #eee;

$gray-light: #bbb;
$gray: #999;
$gray-dark: #777;

$black-lightest: #555;
$black-lighter: #333;
$black-light: #222;
$black: #000;
